body {
    background: #FAFAFA;
}
.home-title {
    padding: 20px;
    border-radius: 5px;
}


.padding-20 {
    padding: 20px;
}

.content-element{
    background: #B0B0B0;
    padding:10px;
    margin-bottom:15px;
    border-radius:5px;
    color: white;
}

.content-element a {
    color: white;
}